[submodule "templates/gokitgen"]
	path = templates/gokitgen
	url = https://github.com/gofunct/gokitgen.git
[submodule "templates/proxygen"]
	path = templates/proxygen
	url = https://github.com/gofunct/proxygen.git
[submodule "templates/protogen"]
	path = templates/protogen
	url = https://github.com/gofunct/protogen.git
[submodule "templates/projectgen"]
	path = templates/projectgen
	url = https://github.com/gofunct/projectgen.git
[submodule "templates/dbgen"]
	path = templates/dbgen
	url = https://github.com/gofunct/dbgen.git
[submodule "templates/docgen"]
	path = templates/docgen
	url = https://github.com/gofunct/docgen.git
[submodule "templates/configgen"]
	path = templates/configgen
	url = https://github.com/gofunct/configgen.git
[submodule "templates/cmdgen"]
	path = templates/cmdgen
	url = https://github.com/gofunct/cmdgen.git
[submodule "examples/demoservice"]
	path = examples/demoservice
	url = https://github.com/gofunct/demoservice.git
[submodule "encode"]
	path = encode
	url = https://github.com/gofunct/encode.git
[submodule "scaffold"]
	path = scaffold
	url = https://github.com/gofunct/scaffold.git
[submodule "signal"]
	path = signal
	url = https://github.com/gofunct/signal.git
[submodule "funcmap"]
	path = funcmap
	url = https://github.com/gofunct/funcmap.git
